.DS_Store
*.zip
*.sql
!sql/*.sql
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

*.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/node_modules/.staging
node_modules
bower_components
composer.phar
package-lock.json

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


#*.DS_Store
#*.log
#*.zip
#.idea
#.sass-cache/
#/nbproject/
#/nbproject/private/
#/node_modules/
#ad.js
#TODO
#test.html
